

input{
    color: black;
    background-color: rgb(210, 138, 138);
}


body{
    width: 100%;
    margin:0;
    padding:0;
    height: 100%;
    position: relative;
    top: -50px;
    font-family: 'Bangers', cursive;
    background-color: white;
    background-color: white;
}
/*HOME1*/
.home1{
    margin-top: -10px;
}

nav{
    padding: 15px;
    width: 100%;
    font-weight: lighter;
    position: fixed;
    top: 5px;
    z-index: 1;
    background-color: black;
}

nav a{
    width: 100%;
    font-size: 20px;
    padding-left: 50px;
    position: relative;
    right:0;
    color: white;
    text-decoration: none;
}

nav .left{
    float: left;
    position: relative;
    left: -50px;
}

nav .right{
    float: right;
    position: relative;
    left: -25px;
}

nav a:hover{
    color: rgb(161, 81, 81);
}

.welcome{
    height: 200%;

}

.circle {
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 150px;
    z-index:-1;
    left: 445px;
    width: 400px;
    height: 400px;
    background-image: radial-gradient(circle, #ffcc00 40%, transparent 16%);
    background-size: 15px 15px; /* Adjust the size of the dots */
    animation: 4s ease-in 0s 1 fadeIn;


  }

.welcome h1{
    font-size: 150px;
    padding: 20px;
    color: rgb(147, 17, 17);
    text-shadow: -1px -1px 0 #000, 10px 5px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    animation: 4s ease-in 0s 1 fadeIn;

}

.welcome a{
    font-size: 25px;
    padding: 10px;
    text-decoration: none;
    border: solid black 3px;
    color: rgb(147, 17, 17);
    margin: 25px;
    position: relative;
    animation: 2s ease-in 0s 1 fadeIn2 forwards;
    animation-delay: 4s;
    transition: .5s ease;
    opacity:0;
    transform:scale(1);
}

.welcome a:hover{
    background-color: black;
    transform: scale(1.2);

}

@keyframes fadeIn {
    0% {
      opacity: 0%;
      transform: translateX(200%);
    }
  
    100% {
      opacity: 100%;
      transform: translateX(0);
    }
  }

  @keyframes fadeIn2 {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }

/*SIGN UP*/

.sign_up{
    font-size: 40px;
}

.form{
    padding: 20px;
    background-color: rgb(246, 230, 242);
    width: 300px;
    font-family: 'Alegreya Sans';

}

.form h3{
    font-size: 15px;
    margin-top: 20px;
    position: relative;
    text-align: left;
    right: -65px;
}


.form button{
    width:58%;
    background-color: pink;
    border: none;
    padding: 10px;
    border-radius: 15px;
    transition: 0.5s ease;
}

.form button:hover{
    cursor: pointer;
    transform: scale(1.1);
    color: white;
}

.bang{
    position: absolute;
    height: 120px;
    top: 190px;
    left: 28%;
}

/*ABOUT*/

.content_about h1{
    font-family:'Bangers', cursive; 
    font-size: 100px;
    padding: 40px;
    color: rgb(228, 207, 17);
    text-shadow: -1px -1px 0 #000, 10px 5px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.block img{
    height: 300px;
    position: relative;
    right: -250px;
    border: solid black 3px;
    margin:
}

.block{
    display: flex;
    flex-direction: row;
}